.wrapper {
  display: flex;
  flex-direction: column;
  align-items:center;
  width: 100vw;
  height: auto;
  margin-top: 80px;
}

.currency-code {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  column-gap: 20px;
}

.table{
  table-layout: fixed;
  border-collapse: collapse;
  width: min(80vw, 1200px);
}

th, td {
  padding: 10px;
  border-bottom: 1px solid lightgray;
}

td {
  height: 40px;
}

th {
  text-align: left;
}

